/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# Ruby build artifacts
*.gem

# Local environment files
.env

# Ruby version manager files
.ruby-version
.ruby-gemset

# Local bundle configurations
.bundle/

# Gem installation directories
vendor/bundle/

# Log files
log/

# Clacky-specific files
.1024*
!.1024
.breakpoints